body {
    font-family: 'Lora', serif;
    color: rgb(112, 106, 106);
  }

header {
  background: 
  linear-gradient(rgba(88, 86, 86, 0.5), rgba(247, 244, 244, 0.548)), url("../images/header.png");
  background-size: cover;
  height: 30vh;
  margin-bottom: 10px;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

h1 {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote {
  font-family: 'Courgette', cursive;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

#mealType, #cuisine, #keyword {
  font-family: 'Lora', serif;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li:hover {
    cursor: pointer;
    font-size: large;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(199, 232, 245);
}

#more {
  padding-top: 1rem;
  color:teal;
  font-size: x-large;
  font-style: italic;
}

#error {
  margin-top: 10px;
}

#recipe-name {
  font-family: 'Courgette', cursive;
  color: black;
}

#recipe-name:hover {
  cursor: pointer;
}

#ingredients, #videos {
  margin-bottom: 5px;
  margin-right: 5px;
}

#previous, #next {
  padding-right: 1.5em;
  margin: 5px;
}

#title {
  padding: 20px;
  text-align: center;
}

#youtube {
  margin-left: 13px;
}

@media screen and (max-width: 576px) {
  #history {
    display: none;
  }

  #image-container {
    display: none;
  }
}